### Git 
export GIT_AUTHOR_EMAIL="luc-spec@stopsellingdata.org"
export GIT_AUTHOR_NAME="luc-spec"
export GIT_COMMITTER_EMAIL="luc-spec@stopsellingdata.org"
export GIT_COMMITTER_NAME="luc-spec"

### Dev Env
nix develop .#impure
#nix develop .#uv2nix

